body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

p{
    padding: 2%;
}

.firstdiv{
   background-color: lightblue;
   height: 100px;
   margin: 2% 2% 0;
}

.row{
    display: flex;
}


.seconddiv{
   background-color: green;
   height: 430px;
   width: 30%;
   margin: 2% 2% 0;
   margin-right: 0;
   margin-top: 1%;
}
.row-sub{
    display: inline-block;
    width: 70%;
    margin: 2%;
    margin-bottom: 0;
    margin-top: 0;
}
.thirddiv{
   background-color: yellow;
   height: 350px;
   margin-bottom: 2% ;
   
   
}

.fourthdiv{
    background-color: grey;
   height: 60px;
   margin-top: 2%;
}

.fifthdiv{
   background-color: orange;
   height: 100px;
   
   margin: 2% ;
}