*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.page-wrapper{
   max-width: 96%;
   margin: 0 auto;
}

p{
    padding: 2%;
}

.firstdiv{
   background-color: lightblue;
   height: 100px;
   margin: 10px 0 30px;
}

.second-wrapper{
    /* display: block; */
    float: left;
    width: 100%;
}


.seconddiv{
   
   height: 430px;
   width: 30%;
   margin-bottom: 30px;
   float: left;
   margin-top: 0;
   padding: 0 15px 0 0;
  
}

.second-subdiv{
   background-color: green;
   width: 100%;
   height: 100%;
}

.third-wrapper{
    width: 70%;
    float: right;
   
}

.thirddiv{
   background-color: yellow;
   height: 350px;
   margin-bottom: 15px;
   
   
}

.fourthdiv{
    background-color: grey;
   height: 65px;
  
}

.fifthdiv{
   background-color: orange;
   height: 100px;
   width: 100%;
   margin-bottom: 30px ;
   float: left;
}